@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Dark-Blue: hsl(249, 10%, 26%) ;
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Blue: hsl(248, 32%, 49%);
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
    background-position: center;
    background-color: var(--Red);
    position: relative;
    color: white;
}

.container{
    height: 90%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pack{
    height: 100%;
    width: 100%;
    display: flex;
}

.left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    gap: 1.5rem;
}

.left h1{
    font-size: 2.9rem;
    line-height: 3rem;
}

.left p{
    font-size: 0.9rem;
    font-weight: 500;
}

.right{
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.right .top{
    padding: 1rem 0;
    background-color: var(--Blue);
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.top h2{
    font-size: 1rem;
    font-weight: 500;
}

.top h2 span{
    color: var(--Grayish-Blue);
}

.bottom{
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.form{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.5rem;
    gap: 0.7rem;
}

.form-control{
    position: relative;
}

.form-control input{
    width: 100%;
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--Grayish-Blue);
    outline: none;
}

.form-control input:focus{
    outline: none;
    border: 1px solid black;
}

.form-control img{
    position: absolute;
    top: 14%;
    right: 3%;
    visibility: hidden;
}

/*error class*/
.form-control.error img{
    visibility: visible;
}

.form-control p{
    text-align: end;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--Red);
    visibility: hidden;
}

/*error class*/
.form-control.error p{
    visibility: visible;
}


/*success class*/
.form-control.success input{
    border: 1px solid var(--Green);
}

/*error class*/
.form-control.error input{
    border: 1px solid var(--Red);
}

.btn{
    background-color: var(--Green);
    border: none;
    padding: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btn:hover{
    background-color: hsl(154, 77%, 71%);
}

form p{
    color: var(--Grayish-Blue);
    font-size: 0.7rem;
    text-align: center;
}

form p span{
    font-weight: 500;
    color: var(--Red);
    cursor: pointer;
}

.attribution{ 
    font-size: 14px; 
    text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

/* 768px to 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for medium devices */

    .container{
        width: 90%;
    }

    .left{
        width: 45%;
        padding: 0 2rem;
    }

    .right{
        width: 55%;
    }
  }

/* 576px to 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small devices */

    html , body{
        height: 100%;
    }

    .container{
        height: fit-content;
        width: 95%;
    }
    
    .pack{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    .left{
        height: 30%;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .right{
        height: fit-content;
        width: 100%;
        align-items: center;
        gap: 1rem;
    }
    
    .right .top{
        padding: 1rem 2.8rem;
    }

    .form{
        padding: 0.5rem 1.5rem;
    }
    
  }

/* Up to 575.98px */
@media (max-width: 575.98px) {
    /* Styles for extra small devices */

    body{
        background-image: url(./images/bg-intro-desktop.png);
        background-size: cover; 
        background-position: center; 
        background-color: var(--Red);
    }
    main{
        height: fit-content;
    }
    
    .container{
        height: 100%;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    
    .pack{
        height: auto;
        flex-direction: column;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .left{
        height: fit-content;
        width: 100%;
        padding: 1rem 2rem;
        gap: 1rem;
    }
    
    .left h1{
        font-size: 2rem;
        line-height: 1.9rem;
    }
    
    .right{
        height: fit-content;
        width: 100%;
        padding: 1rem 1rem;
        gap: 1rem;
    }
    
    .top h2{
        font-size: 0.8rem;
    }
    
    .form{
        padding: 1.3rem 1.5rem;
    }
    
    .attribution{ 
        font-size: 12px; 
        padding-bottom: 1rem;
    }
    
  }
          